{% extends "marks/dashboard/base.html" %}
{% load average_mark_inclusion static %}

{% block content %}
<section class="flex">
    <div class="section-header">
        <h2>Твоя успеваемость</h2>
        <form id="course-selection-form" action="{% url "marks:index" %}" method="post">
            {% csrf_token %}
            <div class="input-radio-selector-wrapper">
                <ul class="input-radio-selector">
                    {% for c in courses %}
                    <li>
                        <input {% if c|stringformat:'d' == course %}checked{% endif %} type="radio" name="course" value="{{c}}" id="course-{{c}}">
                        <label for="course-{{c}}">{{c}}</label>
                    </li>
                    {% endfor %}
                </ul>
                <span>курс</span>
            </div>
            {% if course %}
            <div class="input-radio-selector-wrapper">
                <div class="input-radio-selector">
                    <input {% if term == '1' %}checked{% endif %} type="radio" name="term" id="st-term" value="1">
                    <label for="st-term">1</label>
                    <input {% if term == '0' %}checked{% endif %} type="radio" name="term" id="nd-term" value="0">
                    <label for="nd-term">2</label>
                </div>
                <span>семестр</span>
            </div>
            {% endif %}
        </form>
    </div>
    <ul class="subjects-list">
        {% for appointment in related_appointments %}
        <li>
            <a class="card student flex" href="{% url "marks:show" appointment.id %}">
                <h3>{{appointment.subject}}</h3>
                {% if appointment.subject.description %}
                <p>{{appointment.subject.description}}</p>
                {% endif %}
                <span>Курс: {{appointment.course}} | Семестр: {{appointment.is_first_term|yesno:'1,2'}}</span>
                <div class="name">
                    <img class="profile-picture" src="{% if appointment.teacher.photo %}{{appointment.teacher.photo.url}}{% else %}{% static "users/imgs/default_user.png" %}{% endif %}" alt="Фото профиля">
                    <span>{{appointment.teacher}}</span>
                </div>
                {% average_mark_inclusion appointment %}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
<script>
    cards = document.querySelectorAll('.card.student.flex')
    cards.forEach((card) => {
        let hasMarkBlock = false

        for(const child of card.children) {
            if (child.classList.contains('mark-block')) {
                hasMarkBlock = child.classList.contains('mark-block')
            }
        }

        if (hasMarkBlock) {
            card.style.paddingRight = '60px'
        }
    })
</script>
{% endblock content %}