{% extends "marks/dashboard/base.html" %}
{% load average_mark_inclusion static %}

{% block content %}
<section class="flex">
    <h1>Твои оценки</h1>
    <ul class="subjects-list">
        {% for appointment in related_appointments %}
        <li>
            <a class="card student flex" href="{% url "marks:show" appointment.students_unit_id appointment.subject_id %}">
                <h3>{{appointment.subject}}</h3>
                {% if appointment.subject.description %}
                <p>{{appointment.subject.description}}</p>
                {% endif %}
                <div class="name">
                    <img class="profile-picture" src="{% if appointment.teacher.photo %}{{appointment.teacher.photo.url}}{% else %}{% static "users/imgs/default_user.png" %}{% endif %}" alt="Фото профиля">
                    <span>{{appointment.teacher}}</span>
                </div>
                {% average_mark_inclusion appointment.subject %}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}