{% extends "marks/dashboard/base.html" %}
{% block content %}
<section>
    <h2>Твои предметы</h1>
    <ul>
        {% for appointment in related_appointments %}
            <li>
                <div>
                    <h3>{{appointment.subject}}</h3>
                    {% if appointment.subject.description %}
                        <p>{{appointment.subject.description}}</p>
                    {% endif %}
                    <div>
                        <span>группа: </span>
                        <span>{{appointment.students_unit}}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}