{% extends "marks/base_site.html" %}
{% load average_mark marks_table %}

{% block content %}
<section class="flex">
    <div>
        <h2>
            {% if is_student %}
            Твои оценки по предмету {{subject}}
            {% else %}
            Оценки студентов группы {{students_unit}}
            {% endif %}
        </h2>
        <span>Предмет: <span>{{subject}}</span></span>
    </div>
    {% marks_table students_unit subject is_student|default:False %}
</section>
{% endblock content %}