{% extends "marks/base_site.html" %}
{% load average_mark marks_table %}

{% block content %}
<section class="flex">
    <div>
        <h2>
            {% if is_student %}
            Успеваемость по предмету {{subject}}
            {% else %}
            Успеваемость студентов группы {{students_unit}}
            {% endif %}
        </h2>
        {% if not is_student %}<span>Предмет: <span>{{subject}}</span></span>{% endif %}
    </div>
    {% marks_table students_unit subject is_student|default:False %}
</section>
{% endblock content %}