{% extends "marks/base_site.html" %}
{% load average_mark marks_table %}

{% block content %}
<section class="flex">
    <div>
        <h2>
            {% if is_student %}
            Успеваемость по предмету {{appointment.subject}}
            {% else %}
            Успеваемость студентов группы {{appointment.students_unit}}
            {% endif %}
        </h2>
        {% if not is_student %}
            <span>Предмет: 
                <span>{{appointment.subject}}</span> | Курс: <span>{{appointment.course}}</span> | Семестр: <span>{{appointment.is_first_term|yesno:'1,2'}}</span>
            </span>
            {% else %}
            <span>Курс: 
                <span>{{appointment.course}}</span> | Семестр: <span>{{appointment.is_first_term|yesno:'1,2'}}</span>
            </span>
        {% endif %}
    </div>
    {% marks_table appointment is_student|default:False %}
</section>
{% endblock content %}