{% extends "marks/base.html" %}
{% load static %}

{% block body %}
<div id="top" class="flex">
    <header>
        {% block header %}
        <a href="{% url "marks:index" %}">
            <img id="logo" src="{% static "marks/b_logo.svg" %}" alt="Система ЭДС">
        </a>
        <div class="card card-small profile">
            <div class="name">
                <span>{{request.user.get_short_name}}</span>
                <img class="profile-picture" src="{% if request.user.photo %}{{request.user.photo.url}}{% else %}{% static "users/imgs/default_user.png" %}{% endif %}" alt="Фото профиля">
            </div>
            <ul class="options">
                <li>
                    <a onclick="event.stopPropagation()" href="{% url "users:logout" %}">Выйти</a>
                </li>
            </ul>
        </div>
        {% endblock header %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</div>
<footer>
    {% block footer %}
    <div>
        <img class="footer-image" src="{% static "marks/black_logo.svg" %}" alt="Система ЭДС">
        <div id="info">
            <span>2024 | MIT лицензия |</span><a href="https://loooltooot.github.io">© Эмир Закревский</a><span>|</span><a href="https://pkas58.ru/">ГАПОУ ПО “Пензенский колледж архитектуры и строительства”</a>
        </div>
    </div>
    <a id="github" href="https://github.com/loooltooot/system-eds">
        <img src="{% static "marks/gh.svg" %}" alt="ГитХаб">
    </a>
    {% endblock footer %}
</footer>
<script src="{% static "users/js/gsap.min.js" %}"></script>
<script>
    profile = document.querySelector('.profile')
    let profileIsOpened = false

    profile.addEventListener('click', () => {
        gsap.to('.profile', {height: profileIsOpened ? '50px' : '80px', duration: 0.3})
        profileIsOpened = !profileIsOpened
    })
</script>
{% endblock body %}

{% block page_scripts %}{% endblock page_scripts %}