{% extends "marks/base.html" %}
{% load static %}

{% block body %}
<header>
    {% block header %}
    <a href="{% url "marks:index" %}">
        <img id="logo" src="{% static "marks/b_logo.svg" %}" alt="Система ЭДС">
    </a>
    <div>
        <span>{{request.user.get_full_name}}</span>
        {% if request.user.students_unit %}
            <span>{{request.user.students_unit.name}}</span>
        {% endif %}
        <a href="{% url "users:logout" %}">выйти</a>
    </div>
    {% endblock header %}
</header>
<main>
    {% block content %}{% endblock content %}
</main>
<footer>
    {% block footer %}{% endblock footer %}
</footer>
{% endblock body %}