@font-face {
    font-family: Lato;
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 700;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 900;
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: Margarine;
    font-weight: 400;
    src: url(../fonts/Margarine-Regular.ttf);
}