:root {
  --primary-color: #39A0FF;
  --primary-light-color: #CCE7FF;
  --primary-shade-color: #2B74B7;
  --secondary-color: #FF4259;
  --secondary-light-color: #FFD0D6;
  --secondary-shade-color: #AD2D3C;
  --text-color: #000000;
  --text-light-color: #545454;
  --text-ultralight-color: #B0B0B0;
  --bg-color: #EEF6FF;
  --bg-light-color: #FFFFFF;
  --5-color: #53c93b;
  --4-color: #39c58b;
  --3-color: #3bafcc;
  --2-color: var(--secondary-color);
  --xs-font-size: 14px;
  --base-font-size: 16px;
  --s-font-size: 20px;
  --m-font-size: 40px;
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Margarine;
  font-weight: 400;
  src: url(../fonts/Margarine-Regular.ttf);
}
* {
  font-size: var(--base-font-size);
  font-family: "Lato";
}

body {
  min-height: 100vh;
  padding: 40px 0 0;
  background-color: var(--bg-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 150px;
}
body #top {
  padding-inline: 60px;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-size: var(--m-font-size);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 700;
}

a {
  text-decoration: none;
  display: block;
  color: var(--text-color);
}
a:hover {
  color: var(--primary-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

input,
textarea,
select {
  border: none;
  outline: none;
  background-color: var(--bg-color);
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
input:focus,
textarea:focus,
select:focus {
  outline: 2px var(--primary-light-color) solid;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
  color: var(--text-ultralight-color);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: var(--text-ultralight-color);
}
input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: var(--text-ultralight-color);
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--text-ultralight-color);
}

textarea {
  resize: none;
}

label {
  display: block;
}

section {
  row-gap: 25px;
}

#top {
  row-gap: 100px;
}

::selection {
  background-color: var(--secondary-light-color);
}

::-moz-selection {
  background-color: var(--secondary-light-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-light-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-light-color);
}

.subjects-list {
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
}

.card {
  background-color: var(--bg-light-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  box-sizing: border-box;
}

.card.card-small {
  border-radius: 10px;
  padding: 20px 30px;
}

.button {
  border-radius: 10px;
  padding: 15px 20px;
  background-color: var(--primary-color);
  font-size: var(--s-font-size);
  color: var(--bg-light-color);
  font-weight: bold;
  transition: 0.3s ease background-color;
  cursor: pointer;
}
.button:hover {
  background-color: var(--primary-shade-color);
}

.tiny-button {
  cursor: pointer;
  color: var(--primary-color);
}
.tiny-button:hover {
  color: var(--primary-shade-color);
}

.flex {
  display: flex;
  flex-direction: column;
}

.errorlist {
  border-left: 2px var(--secondary-color) solid;
  padding-left: 10px;
}
.errorlist li {
  color: var(--text-light-color);
}

.name {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.name span {
  font-weight: 700;
}
.name img {
  width: 30px;
  height: 30px;
}

table {
  border-collapse: collapse;
  width: fit-content;
  background-color: var(--bg-light-color);
  border-radius: 10px;
  overflow: hidden;
}
table th {
  padding: 15px 15px;
  background-color: var(--primary-light-color);
}
table td {
  padding: 15px 15px;
  text-align: center;
}
table tr:not(:last-child) {
  border-bottom: 1px solid var(--primary-light-color);
}
table td.fullname {
  white-space: nowrap;
  min-width: fit-content;
  text-align: left;
}

.mark {
  font-family: "Margarine";
  color: var(--secondary-color);
}
.mark.pointer {
  cursor: pointer;
}
.mark.show-more {
  cursor: pointer;
  position: relative;
}
.mark.show-more::before {
  content: "*";
  position: absolute;
  right: -8px;
  top: -8px;
  color: var(--primary-shade-color);
  z-index: 1;
}

td:hover .mark_form {
  display: block;
}
td .mark_form {
  display: none;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  max-height: 60vh;
  padding: 0 10px 10px 0;
  position: relative;
}

.modal-window {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
}
.modal-window > :is(form, div) {
  row-gap: 50px;
  width: 500px;
}
.modal-window > :is(form, div) h2 {
  text-align: center;
}
.modal-window div.flex {
  row-gap: 25px;
}

#top header {
  display: flex;
  position: relative;
}
#top header #logo {
  width: 168px;
}
#top header .profile.card {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  padding: 10px 20px;
  row-gap: 10px;
  cursor: pointer;
  overflow: hidden;
}

footer {
  background-color: var(--bg-light-color);
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}
footer #info {
  font-weight: 700;
  display: flex;
  column-gap: 5px;
  margin-top: 12px;
}
footer #github {
  filter: brightness(0);
}
footer #github:hover {
  filter: none;
}

/*# sourceMappingURL=style.css.map */
