@use 'vars';
@use 'fonts';

* {
    font-size: var(--base-font-size);
    font-family: 'Lato';
}

body {
    min-height: 100vh;
    padding: 40px 0 0;
    background-color: var(--bg-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 150px;

    #top {
        padding-inline: 60px;
    }
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

h1,
h2 {
    font-size: var(--m-font-size);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: 700;
}

a {
    text-decoration: none;
    display: block;
    color: var(--text-color);

    &:hover {
        color: var(--primary-color);
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

input,
textarea,
select {
    border: none;
    outline: none;
    background-color: var(--bg-color);
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
        outline: 2px var(--primary-light-color) solid;
    }

    &::-ms-input-placeholder {
        color: var(--text-ultralight-color);
    }

    &::-webkit-input-placeholder {
        color: var(--text-ultralight-color);
    }

    &::-moz-placeholder {
        color: var(--text-ultralight-color);
    }

    &::placeholder {
        color: var(--text-ultralight-color);
    }
}

textarea {
    resize: none;
}

label {
    display: block;
}

section {
    row-gap: 25px;
}

#top {
    row-gap: 100px;
}

::selection {
    background-color: var(--secondary-light-color);
}

::-moz-selection {
    background-color: var(--secondary-light-color);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-light-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-light-color);
}

.subjects-list {
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}

.card {
    background-color: var(--bg-light-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    box-sizing: border-box;
}

.card.card-small {
    border-radius: 10px;
    padding: 20px 30px;
}

.button {
    border-radius: 10px;
    padding: 15px 20px;
    background-color: var(--primary-color);
    font-size: var(--s-font-size);
    color: var(--bg-light-color);
    font-weight: bold;
    transition: .3s ease background-color;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-shade-color);
    }
}

.tiny-button {
    cursor: pointer;
    color: var(--primary-color);

    &:hover {
        color: var(--primary-shade-color);
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

.errorlist {
    border-left: 2px var(--secondary-color) solid;
    padding-left: 10px;

    li {
        color: var(--text-light-color);
    }
}

.name {
    display: flex;
    align-items: center;
    column-gap: 15px;

    span {
        font-weight: 700;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

table {
    border-collapse: collapse;
    width: fit-content;
    background-color: var(--bg-light-color);
    border-radius: 10px;
    overflow: hidden;

    th {
        padding: 15px 15px;
        background-color: var(--primary-light-color);
    }

    td {
        padding: 15px 15px;
        text-align: center;
    }

    tr:not(:last-child) {
        border-bottom: 1px solid var(--primary-light-color);
    }

    td.fullname {
        white-space: nowrap;
        min-width: fit-content;
        text-align: left;
    }
}

.mark {
    font-family: 'Margarine';
    color: var(--secondary-color);

    &.pointer {
        cursor: pointer;
    }

    &.show-more {
        cursor: pointer;
        position: relative;

        &::before {
            content: "*";
            position: absolute;
            right: -8px;
            top: -8px;
            color: var(--primary-shade-color);
            z-index: 1;
        }
    }
}

td {
    &:hover {
        .mark_form {
            display: block;
        }
    }

    .mark_form {
        display: none;
    }
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
    max-height: 60vh;
    padding: 0 10px 10px 0;
    position: relative;
}

.modal-window {
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;

    &>:is(form, div) {
        row-gap: 50px;
        width: 500px;

        h2 {
            text-align: center;
        }
    }

    div.flex {
        row-gap: 25px;
    }
}

#top header {
    display: flex;
    position: relative;

    #logo {
        width: 168px;
    }

    .profile.card {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        padding: 10px 20px;
        row-gap: 10px;
        cursor: pointer;
        overflow: hidden;
    }
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

footer {
    background-color: var(--bg-light-color);
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;

    #info {
        font-weight: 700;
        display: flex;
        column-gap: 5px;
        margin-top: 12px;
    }

    #github {
        filter: brightness(0);

        &:hover {
            filter: none;
        }
    }
}