{% load static average_mark date_in %}

{% block page_styles %}
<link rel="stylesheet" href="{% static "marks/css/marks_table.css" %}">
{% endblock page_styles %}

<div class="table-container">
    <table {% if is_student %}class="student-table"{% endif %}>
        <thead>
            <tr>
                <th>№</th>
                {% if not is_student|default:False %}<th>ФИО</th>{% endif %}
                <th>Ср. балл</th>
                {% for date in dates %}
                    <th>{{date|date:"d.m"}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student, marks in marks_map.items %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    {% if not is_student|default:False %}<td class="fullname" onclick="openMarkAddModal({{student.id}}, '{{student.get_fio}}')">{{student.get_fio}}</td>{% endif %}
                    <td>{% average_mark subject student %}</td>
                    {% for date in dates %}
                        <td>
                            {% for mark in marks %}
                                {% if date == mark.pub_date %}
                                    <span 
                                        {% if mark.value in "2345H"|make_list or is_student %}
                                        onclick="openMarkShowModal('{{mark.value}}', '{% if not is_student %}{{student.get_fio}}{% else %}{{mark.teacher.get_fio}}{% endif %}', '{{mark.feedback}}', '{{mark.pub_date}}')"
                                        {% else %}
                                        onclick="openMarkEditModal('{{mark.value}}', {{mark.id}}, '{{student.get_fio}}', '{{mark.feedback}}', '{{mark.pub_date}}')"
                                        {% endif %}
                                        class="mark pointer{% if mark.feedback %} show-more{% endif %}" style="color: {% if mark.value in "2345"|make_list %}var(--{{mark.value}}-color){% endif %}"
                                    >
                                        {{mark.value}}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if not is_student %}
<div onclick="closeModal('#add-mark-modal')" class="modal-window" id="add-mark-modal">
    <form onclick="event.stopPropagation()" class="card" method="post" action="{% url "marks:addmark" students_unit.id subject.id %}">
        <div>
            <h2>Оценивание</h2>
            <span class="hint"></span>
        </div>
        <div class="flex">
            {% csrf_token %}
            <input type="hidden" name="student" value="">
            <input type="hidden" name="teacher" value="{{request.user.id}}">
            <input type="hidden" name="subject" value="{{subject.id}}">
            <ul class="vals-list">
                {% for val in "2345H/+."|make_list  %}
                <li>
                    <input required name="value" type="radio" value="{{val}}" id="val_{{val}}">
                    <label style="--module-bg-color: {% if val in "2345"|make_list %}var(--{{val}}-color){% else %}var(--text-ultralight-color){% endif %}" class="mark" for="val_{{val}}">{{val}}</label>
                </li>
                {% endfor %}
            </ul>
            <textarea maxlength="500" placeholder="Комментарий к оценке" name="feedback" id="feedback"></textarea>
            <input required type="date" name="pub_date" value="{% now "Y-m-d" %}" max="{% now "Y-m-d" %}">
        </div>
        <input class="button" type="submit" value="Поставить оценку">
    </form>
</div>
{% endif %}

<div onclick="closeModal('#show-mark-modal')" class="modal-window" id="show-mark-modal">
    <div onclick="event.stopPropagation()" class="card">
        <div>
            <h2>Оценка <span class="mark"></span></h2>
            <span class="hint"></span>
        </div>
        <div class="flex">
            <p class="feedback"></p>
            <span class="date"></span>
        </div>
    </div>
</div>

<div onclick="closeModal('#edit-mark-modal')" class="modal-window" id="edit-mark-modal">
    <form onclick="event.stopPropagation()" method="post" class="card" action="{% url "marks:editmark" students_unit.id subject.id %}">
        <div>
            <h2>Редактирование</h2>
            <span class="hint"></span>
        </div>
        <div class="flex">
            {% csrf_token %}
            <input type="hidden" name="id" value="">
            <ul class="vals-list">
                {% for val in "2345H/+."|make_list  %}
                <li>
                    <input required name="value" type="radio" value="{{val}}" id="edit_val_{{val}}">
                    <label style="--module-bg-color: {% if val in "2345"|make_list %}var(--{{val}}-color){% else %}var(--text-ultralight-color){% endif %}" class="mark" for="edit_val_{{val}}">{{val}}</label>
                </li>
                {% endfor %}
            </ul>
            <textarea maxlength="500" placeholder="Комментарий к оценке" name="feedback" class="feedback"></textarea>
            <span class="date"></span>
        </div>
        <input class="button" type="submit" value="Редактировать оценку">
    </form>
</div>

{% block page_scripts %}
<script src="{% static "users/js/gsap.min.js" %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tableContainer = document.querySelector('.table-container');
        const thead = document.querySelector('thead');
    
        tableContainer.addEventListener('scroll', function() {
            thead.style.top = tableContainer.scrollTop + 'px';
        });
    });

    markAddModal = document.getElementById('add-mark-modal')
    markShowModal = document.getElementById('show-mark-modal')
    markEditModal = document.getElementById('edit-mark-modal')

    function openMarkAddModal(studentId, studentFio) {
        openModal('#add-mark-modal')
        markAddModal.querySelector("input[name='student']").value = studentId 
        markAddModal.querySelector(".hint").innerHTML = studentFio 
    }

    function openMarkShowModal(mark, studentFio, markFeedback, markDate) {
        openModal('#show-mark-modal')
        markShowModal.querySelector(".hint").innerHTML = studentFio 
        markShowModal.querySelector(".mark").innerHTML = mark 
        markShowModal.querySelector(".mark").style = !['H', '/', '.', '+'].includes(mark) ? `color: var(--${mark}-color)` : ''
        markShowModal.querySelector(".feedback").innerHTML = markFeedback ? markFeedback : 'Оценка без комментария'
        markShowModal.querySelector(".date").innerHTML = markDate 
    }

    function openMarkEditModal(mark, markId, studentFio, markFeedback, markDate) {
        openModal('#edit-mark-modal')
        markEditModal.querySelector("input[name='id']").value = markId 
        markEditModal.querySelector(".feedback").innerHTML = markFeedback 
        markEditModal.querySelector(".hint").innerHTML = studentFio 
        markEditModal.querySelector(".date").innerHTML = markDate 
        
        markEditModal.querySelectorAll("input[name='value']").forEach((el) => {
            if (el.value == mark) {
                el.checked = true
            }
        })
    }

    let isAnimating = false

    function openModal(modalSelector) {
        if (!isAnimating) {
            tl = gsap.timeline({onStart: () => {isAnimating = true}, onComplete: () => {isAnimating = false}, defaults: {duration: 0.5}})
            tl.to(modalSelector, {zIndex: 3, duration: 0.01})
            tl.to(modalSelector, {opacity: 1}, "<+=0.1")
        }
    }

    function closeModal(modalSelector) {
        if (!isAnimating) {
            tl = gsap.timeline({onStart: () => {isAnimating = true}, onComplete: () => {isAnimating = false}, defaults: {duration: 0.3}})
            tl.to(modalSelector, {opacity: 0})
            tl.to(modalSelector, {zIndex: -1, duration: 0.01})
        }
    }
</script>
{% endblock page_scripts %}